{% extends 'basic.html' %}

{% block title %} {{ query }} - Results {% endblock %}

{% block body %}
{% load humanize %}
<div class="container">
    <h3 class="my-4">Search Results:</h3>
    <div class="row mb-2">
        <hr>
{% for post in posts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Coding</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.timeStamp | naturaltime }} by <a href="#">{{ post.author }}</a>
          <span class="text-muted" style="float: right!important;"> {{ post.views }} views</span></div>
            <div class="preview"><p class="mb-auto">{{ post.content| slice:"0:150"|striptags  }}...</p></div>
          <a href="/blog/{{post.slug}}/" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
{% endfor %}
{% if not posts %}
        <h6>No search results</h6>
    <p>Your search : <b>{{ query }}</b> did not match any documents. <br></p>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </ul>
        {% endif %}
  </div>
</div>
    {% endblock %}